<% layout("/layouts/boilerplate") %>

    <body>
        <!-- <h1>All Listings</h1> -->
        <div id="filters">
            <div class="filter-scroll-wrapper">
                <button class="scroll-btn left"><i class="fa-solid fa-chevron-left"></i></button>

                <div class="filter-scroll">
                    
                    <a href="/listings" class="filter <%= selectedCategory === 'All' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-house"></i></div>
                        <p>All</p>
                    </a>

                    <a href="/listings/filter/Iconic Cities" class="filter <%= selectedCategory === 'Iconic Cities' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-mountain-city"></i></div>
                        <p>Iconic Cities</p>
                    </a>

                    <a href="/listings/filter/Mountains" class="filter <%= selectedCategory === 'Mountains' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-mountain"></i></div>
                        <p>Mountains</p>
                    </a>

                    <a href="/listings/filter/Castles" class="filter <%= selectedCategory === 'Castles' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-chess-rook"></i></div>
                        <p>Castles</p>
                    </a>

                    <a href="/listings/filter/Amazing Pools" class="filter <%= selectedCategory === 'Amazing Pools' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-person-swimming"></i></div>
                        <p>Amazing Pools</p>
                    </a>

                    <a href="/listings/filter/Camping" class="filter <%= selectedCategory === 'Camping' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-binoculars"></i></div>
                        <p>Camping</p>
                    </a>

                    <a href="/listings/filter/Farms" class="filter <%= selectedCategory === 'Farms' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-wheat-awn"></i></div>
                        <p>Farms</p>
                    </a>

                    <a href="/listings/filter/Arctic" class="filter <%= selectedCategory === 'Arctic' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-snowflake"></i></div>
                        <p>Arctic</p>
                    </a>

                    <a href="/listings/filter/Domes" class="filter <%= selectedCategory === 'Domes' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-tents"></i></div>
                        <p>Domes</p>
                    </a>

                    <a href="/listings/filter/Boats" class="filter <%= selectedCategory === 'Boats' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-sailboat"></i></div>
                        <p>Boats</p>
                    </a>

                    <a href="/listings/filter/Beach" class="filter <%= selectedCategory === 'Beach' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-umbrella-beach"></i></div>
                        <p>Beach</p>
                    </a>

                    <a href="/listings/filter/Forest" class="filter <%= selectedCategory === 'Forest' ? 'active' : '' %>" style="text-decoration: none;">
                        <div><i class="fa-solid fa-tree"></i></div>
                        <p>Forest</p>
                    </a>




                </div>
                <button class="scroll-btn right"><i class="fa-solid fa-chevron-right"></i></button>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(let listing of allListings) {%>
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card cols listings-card">
                        <div class="card-img-container">
                            <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_img">
                            <div class="card-img-overlay"></div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b><br>
                                <div class="price" data-price="<%= listing.price %>">
                                    <b>&#8377;<span class="price-value"><%= listing.price.toLocaleString("en-IN") %></span></b>/Night
                                    <i class="tax-info">&nbsp;<u>total after taxes</u></i>
                                </div>
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>


           

        </div>

         <% if (allListings.length === 0) { %>
                <div class="text-center my-5">
                    <h4 class="text-muted">No listings available for this category.</h4>
                </div>
            <% } %>

        





    </body>